@import './common/common'


// bg
body
  background #EDF2F5
  min-width 1020px
  color #333
  font-family: Microsoft YaHei

// container
header .container,
footer .container,
section.container
  width 1020px
  margin auto
section.container
  min-height 700px

// header
header
  background #E0EEEF
  .h_line
    background #449CE6
    height 4px
  .h_content
    height 98px
  .container
    height 98px
    position relative

    //logo
    a.logo
      background-position: 0 0;
      width: 111px;
      height: 74px;
      display: inline-block;
      margin-top: 10px;

    //菜单栏
    ul.nav
      position absolute
      bottom 0
      left 15%
      li
        float left
        text-align center
        margin 0 3px
        a
          position: relative;
          width: 94px;
          display: block;
          padding: 10px;
          span
            position absolute
            bottom 0
            left 0
            opacity 0
            width 100%
            height 3px
          &.active
            color #429CEA
            & span
              opacity 1
              background #429CEA
    //搜索框
    .h_search
      position: absolute;
      bottom: 5px;
      right: 0;
      width: 212px;
      border: 1px solid #429CEA;
      border-radius: 15px
      overflow hidden
      #search_form
        height 30px
        position relative
        input[type="text"]
          border none
          height 100%
          background transparent
          outline none
          width @height
          padding-right 60px
          padding-left 10px
        input[type="submit"]
          border none
          background #429CEA
          position absolute
          right 0
          width 60px
          height 100%
          color #FFFFFF
          outline none
          cursor pointer

//all icon
.icon
  background url("../image/icons.png") no-repeat
  background-size 100%

//index_header
header.index_header
  background-color rgba(255, 255, 255, 0.8)
  z-index 2
  position absolute
  width 100%
  box-shadow 0 2px 15px rgba(66, 65, 65, 0.2)

// static banner
.static_banner
  height 238px
  text-align center
  img
    //图片宽度越宽越好，
    width 100%
    height 100%

// footer
footer
  background #556879
  color #FFFFFF
  position fixed
  left 0
  right 0
  bottom 0
  font-size 14px
  .container
    text-align center
    height 52px
    line-height @height
  a
    display inline-block
    margin 0 20px

//left_nav
section.container .left_nav
  margin-top 60px
  border 1px solid lightgray;
  text-align center
  border-radius 15px
  background #FFFFFF
  overflow hidden
  padding-bottom 30px
  width 170px

  li
    padding 0 10px
    a
      padding 10px 10px
      display block
      position relative
      border-bottom 1px dashed #333
      font-size 14px
    span
      position absolute
      left -10px
      top 0
      height 100%
      width 2px
      display block
      background transparent
    &.active
      a
        color #449CE6
      span
        background #449CE6
    &:first-child
      background #449CE6
      padding 10px
      color #FFFFFF
      font-size 18px

// 右内容
section.container .c_right
  width 830px
  .c_r_content
    border 1px solid #E5E5E5
    background #FFFFFF
    border-radius 15px
    margin-bottom 100px

//分页
.pager
  padding 10px
  display inline-block
  a
    background url("../image/page_bg.png")
    float left
    width 32px
    height 32px
    background-size 100%
    color #777777
    font-size 13px
    position relative
    text-align center
    line-height 32px
    margin-left 15px
    &.active
      background url("../image/page_active.png")
      color #FFFFFF
    &.page_pre
      background url("../image/pre.png")
    &.page_next
      background url("../image/next.png")

