@import './common/common'

// bg
body
  background #EDF2F5

// container
header .container,
footer .container,
section.container
  width 1020px
  margin auto

// header
header
  .h_line
    background #449CE6
    height 4px
  .h_content
    height 98px
    background #E0EEEF
  .container
    height 98px

// static banner
.static_banner
  background url("../image/bgs.png") no-repeat
  background-position 0 -20px
  height 238px
  background-size 100%

// footer
footer
  background #556879
  color #FFFFFF
  position fixed
  left 0
  right 0
  bottom 0
  font-size 14px
  .container
    text-align center
    height 52px
    line-height @height
  a
    display inline-block
    margin 0 20px
