@import './app';
@import './nav';


section.container
  min-height 690px
  background #eef4f5
  .content
    margin auto
    width 1020px
    height 504px
    border 1px solid #DADBDD
    background #FFFFFF
    padding 0 15px
    padding-top 45px
    border-radius 10px
    .address
      border 1px solid #333333
    .c_com_info
      margin-left 25px
      li
        border-bottom 1px dashed #333333
        background-size 40px
        background-repeat no-repeat
        padding 20px 0 20px 50px
        background-position 0 11px
        &:first-child
          padding 0
          padding-bottom 60px
      a
        display block



