@import './app';
@import './nav';

.c_r_content
  padding 30px
  li
    width 33.3333%
    list-style none
    float left
    border-top 2px dotted #EAEAEA
    padding 56px 18px
    a
      display block
      height 100%
  .t_c
    border-top 2px dotted #EAEAEA
    padding-top 10px

#newsList,#news_detail
  .news_img
    width 100%
    height 146px
  .news_title
    color #F52E41
    font-size 15px
    line-height 25px
    F_ellipsis(100%)
  .news_date
    color #bcbdb3
    font-size 12px
    margin 5px 0
  .news_desc
    color #949494
    font-size 12px
    F_ellipsis(100%)
  .news_content
    line-height 30px
#news_detail
  .news_title
    text-align center
