doctype html
html(lang="en")
    head
        include ./com/meta
        link(rel="stylesheet" ,href="/assets/styles/info.min.css")
        title 公司简介
    body
        include ./com/header

        .static_banner
            img(src="./assets/image/bg_2.png")
        section.container
            ul.left_nav.fl.box
                li 公司简介
                li.active
                    a 公司介绍
                        span
                li
                    a 企业文化
                        span
                li
                    a 公司风采
                        span
            .c_right.fr
                .c_nav
                    a 首页
                    a >
                    a 公司简介
                .c_r_content.box
                    #info.
                        &nbsp;<span>&nbsp;</span>
                        <p style="text-indent:15.75pt;">
                            <span style="font-family:;" 微软雅黑",sans-serif;"=""><span>2014</span></span><span style="font-family:;" 微软雅黑",sans-serif;"=""><span>年春晚的《时间都去哪儿了》犹在耳畔回响，不知不觉我们已经迈入</span><span><span>2015</span></span><span>年。</span></span>
                        </p>
                        <span> </span>
                        <p style="text-indent:15.75pt;">
                            <span style="font-family:;" 微软雅黑",sans-serif;"=""><span>回首历经过往，一年充实奔忙，</span><span><span>2014</span></span><span>意犹未尽，</span><span><span>2015</span></span><span>已经登场。近几年，随着我国基建及金融产业经济迈入结构调整期，尤其是央行对金融政策的调整以及银行业的转型升级之势，伴随互联网金融的市场化趋势，对我们传统基建行业带来了很大程度上的冲击。</span></span>
                        </p>
                        <span> </span>
                        <p style="text-indent:15.75pt;">
                            <span style="font-family:;" 微软雅黑",sans-serif;"=""><span>中交物产集团在困难中坚守梦想，在危机中寻求突破。从基建行业本身出发，改变传统的交易结构与模式，为基建行业客户提供创新、便捷的“物融”交易模式和产业链金融第三方平台【物融通】服务，于</span><span><span>2014</span></span><span>年</span><span><span>9</span></span><span>月正式上线了国内首家互联网基建平台</span><span><span>——</span></span><span>中交物融平台。立志打造成为服务于产业终端用户的工程材料、设备、资金等的一站式【阳光】平台。</span><span><span>2015</span></span><span>年，我们将继续深耕基建一口井，将互联网、金融、科技融入传统基建行业，焕发互联网基建新生命力，引领基建行业新风向和新模式。</span></span>
                        </p>
                        <span> </span>
                        <p style="text-indent:21pt;">
                            <span style="font-family:;" 微软雅黑",sans-serif;"=""><span>打造一方热土，共筑基建大业，携手合作共赢，辉煌再谱新篇。中交物产集团感谢与您一同走过不平凡的</span><span><span>2014</span></span><span>年，在辞旧迎新之际，董事长陈合富携全体员工恭祝您元旦快乐！阖家安康！万事如意！</span><span><span>2015</span></span><span>年，期待我们携手共创基建美好明天！</span></span>
                        </p>
                        <span> </span>
                        <p>
                            <span style="font-family:;" 微软雅黑",sans-serif;"=""><span> </span></span>
                        </p>
                        <span> </span>
                        <p>
                            <span style="font-family:;" 微软雅黑",sans-serif;"=""><span> </span></span>
                        </p>
                        <span> </span>
                        <p>
                            <span><span> </span></span>
                        </p>
                        <span> </span>


        include ./com/footer
            
        //script(type="text/javascript",src="/assets/scripts/index.js")
