doctype html
html(lang="en")
    head
        include ./com/meta
        link(rel="stylesheet" ,href="/assets/styles/info.min.css")
        title 公司简介
    body
        include ./com/header

        .static_banner
            img(src="./assets/image/bg_2.png")
        section.container
            ul.left_nav.fl.box
                li 公司简介
                li.active
                    a(href="#info") 公司介绍
                        span
                li
                    a(href="#education") 企业文化
                        span
                li
                    a(href="#other") 公司风采
                        span

            .c_right.fr
                .c_nav
                    a 首页
                    a >
                    a 公司简介
                .c_r_content.box
                    #info.
                        &nbsp;<span>&nbsp;</span>&nbsp;<span>&nbsp;</span>&nbsp;<span>&nbsp;</span>金坛市剑云医疗器械厂成立于是2000年,地处革命老区-茅山直溪镇。金坛市剑云医疗器械厂是经过江苏省药品监督管理局批准的生产小型医疗设备的专业厂家。企业拥有国内先进的加工设备，技术力量雄厚，通过了ISO9001：2008质量体系认证。
                        <br/><br/>主要生产医用担架、出诊箱、手术圆凳、输液吊架、产床、反光灯、移动式灯架、拐杖及滴定台等十多个品种，五十多种规格产品。企业根据市场需求，研制开发携带方便，适合野外家庭救护的便携式担架；适合于家庭保健的高级铝合金药箱、家庭保健箱；同时还订做各种规格的仪器箱.我厂严格按ISO9001和YY/T0287质量管理体系要求生产，奉行质量第一、信誉第一、用户至上的原则，生产的出诊箱在世行招标中屡次中标；产品销往全国二十多个省市、深受用户好评。我们将一如既往地贯彻“完美的质量、适宜的价格、周到的服务”宗旨，“制剑云精品，创中国名牌”。

                    #education.
                        企业愿景：<br/>
                          立足于医疗器械领域，发展成为中国医疗行业中领先的专业化企业。<br/>
                          不求大但求好，始终追求成长为受员工、客户、合作伙伴所尊重和信赖的好公司。<br/>
                          企业宗旨：<br/>
                          完美的质量、适宜的价格、周到的服务<br/>
                          企业精神：<br/>
                          尊重、用心<br/>
                          管理理念：<br/>
                          通过科学而人性化的管理，实现员工愉快工作和专业化提升的愿望<br/>
                          营销理念：<br/>
                          通过用心客情和专业化销售，创造并实现客户感性价值和理性价值<br/>
                          企业信条：<br/>
                          把优秀的产品呈献给广大医生和患者，为人类健康事业贡献力量<br/>
                          企业使命：<br/>
                          为社会发展和进步作出贡献、努力提升和实现企业和员工的价值<br/>

                    #other.
                        2013年荣获“金坛市和谐劳动关系先进企业”。<br/>
                        2012年常州市食品药品监督管理局授予我单位“常州市药品医疗器械企业质量安全信用守信AA级”。<br/>
                        2012年单位已通过ISO9001质量体系认证。<br/>
                        2011年6月被常州市民营科技型企业协会认定为“常州市民营科技企业”。<br/>
                        2008年荣获“江苏省企业资信AAA等级”。<br/>
                        2009年被常州市企业信用（合同）评审委员会评为“信用（合同）AAA级企业”，是江苏省医疗器械行业协会的会员单位。<br/>



        include ./com/footer
            
        script(type="text/javascript",src="/assets/scripts/company.js")
