doctype html
html(lang="en")
    head
        include ./com/meta
        link(rel="stylesheet" ,href="/assets/styles/index.min.css")
        title 首页
    body
        include ./com/header

        .static_banner

        section.container

        include ./com/footer
            
        script(type="text/javascript",src="/assets/scripts/index.js")
