doctype html
html(lang="en")
    head
        include ./com/meta
        link(rel="stylesheet" ,href="/assets/styles/index.min.css")
        title 首页
    body
        include ./com/index-header

        .static_banner.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="./assets/image/img1.png")
                .swiper-slide
                    img(src="./assets/image/img2.png")
            .swiper-pagination

        .product_area
            .t_c.p_top
                span 最新产品
                a.fr(href="product.html") 更多 》
            .product_list.swiper-container
                .swiper-wrapper
                    .swiper-slide.product_detail
                        a(href="#")
                            img.product_img(src="./assets/image/bg_1.png")
                            .product_info awdadw
                    .swiper-slide.product_detail
                        a(href="#")
                            img.product_img(src="./assets/image/bg_1.png")
                            .product_info awdwa
                    .swiper-slide.product_detail
                        a(href="#")
                            img.product_img(src="./assets/image/bg_1.png")
                            .product_info awdadw
                    .swiper-slide.product_detail
                        a(href="#")
                            img.product_img(src="./assets/image/bg_1.png")
                            .product_info awdwa
                    .swiper-slide.product_detail
                        a(href="#")
                            img.product_img(src="./assets/image/bg_1.png")
                            .product_info awdadw
                    .swiper-slide.product_detail
                        a(href="#")
                            img.product_img(src="./assets/image/bg_1.png")
                            .product_info awdwa
                    .swiper-slide.product_detail
                        a(href="#")
                            img.product_img(src="./assets/image/bg_1.png")
                            .product_info awdadw
                    .swiper-slide.product_detail
                        a(href="#")
                            img.product_img(src="./assets/image/bg_1.png")
                            .product_info awdwa
                .swiper-button-next
                .swiper-button-prev


        section.container
            .com_info
                img(src="./assets/image/index_cominfo.png")
                p
                    a(href="company_info.html").
                        金坛市剑云医疗器械厂地处革命老区-茅山直溪镇；
                        是经过江苏省药品监督管理局批准的生产小型医疗
                        设备的专业厂家。主要生产医用担架、出诊箱、手
                        术圆凳、输液吊架、产床、反光灯、移动式灯架、
                        拐杖及滴定台等十多个品种，五十多种规格产品。
                        企业根据市场需求，研制开发携带方便，适合野外
                        家庭救护的便携式担架；适合于家庭保健的高级铝
                        合金药箱、家庭保健箱...

                a.see_all(href="company_info.html") 查看全部

            .news_info
                img(src="./assets/image/index_news.png")
                ul#newsList
                    li
                        a(href="#") 哈啊啊啊积极地将开始交电费卡
                        span.time 2015-12-12
                    li
                        a(href="#") 哈啊啊啊积极地将开始交电费卡
                        span.time 2015-12-12
                    li
                        a(href="#") 哈啊啊啊积极地将开始交电费卡
                        span.time 2015-12-12
                    li
                        a(href="#") 哈啊啊啊积极地将开始交电费卡
                        span.time 2015-12-12
                    li
                        a(href="#") 哈啊啊啊积极地将开始交电费卡
                        span.time 2015-12-12


                a.see_all(href="company_news.html") 查看全部
            .ours_info
                img(src="./assets/image/index_contact.png")
                ul.c_com_info
                    li.icon_tel
                        a(href="tel:0519-2444935") 0519-2444935
                        a(href="tel:0519-2443183") 0519-2443183
                        a(href="tel:13706146935") 13706146935
                    li.icon_emial
                        a(href="mailto:jianyun1236@sohu.com") jianyun1236@sohu.com
                    li.icon_adrs 江苏省常州金坛市直溪工业园区
                    li.icon_per 剑云

        include ./com/footer
        script(type="text/javascript",src="/assets/scripts/base/swiper.min.js")
        script(type="text/javascript",src="/assets/scripts/index.js")
