doctype html
html(lang="en")
    head
        include ./com/meta
        link(rel="stylesheet" ,href="/assets/styles/product.min.css")
        title 首页
    body
        include ./com/header

        .static_banner
            img(src="./assets/image/bg_1.png")

        section.container.clearfix
            ul.left_nav.fl
                li 产品分类
                li
                    a 产品分类
                        span
                li.active
                    a 产品分类
                        span
                li
                    a 产品分类
                        span
                li
                    a 产品分类
                        span
            .c_right.fr
                .c_nav
                    a 首页
                    a >
                    a 产品中心
                    a >
                    a XXXX
                .c_r_content
                    ul.clearfix#productList
                        - var n = 1
                        while n < 20
                            li
                                a(href="product_detail.html")
                                    img.product_img(src="./assets/image/bg_1.png")
                                    .product_info=n++

                    include ./com/page

        include ./com/footer
        //script(type="text/javascript",src="/assets/scripts/index.js")
