footer
    .container
        a(href="#") 常州金坛市剑云
        a(href="#") 版权所有
        a(href="#") copyright @ 2015
        a(href="#") www.xxx.com

script(type="text/javascript",src="/assets/scripts/base/jquery.js")
script(type="text/javascript",src="/assets/scripts/base/template.js")
script(type="text/javascript",src="/assets/scripts/base/config.js")
script(type="text/javascript",src="/assets/scripts/base/global.js")
script(type="text/javascript",src="/assets/scripts/base/website.js")
