script(type="text/javascript",src="/assets/scripts/base/jquery.js")
script(type="text/javascript",src="/assets/scripts/base/template.js")
script(type="text/javascript",src="/assets/scripts/base/config.js")
script(type="text/javascript",src="/assets/scripts/base/global.js")
script(type="text/javascript",src="/assets/scripts/base/website.js")
