header.index_header
    .h_line
    .h_content
        .container
            a.logo.icon(href="/")
            ul.nav.clearfix
                li
                    a(href="/") 首页
                        span
                li
                    a(href="/company_info.html") 公司简介
                        span
                li
                    a(href="/product.html") 产品中心
                        span
                li
                    a(href="/company_news.html") 公司新闻
                        span
                li
                    a(href="/suggest.html") 客户留言
                        span
                li
                    a(href="/contact.html") 联系我们
                        span
            .h_search
                form#search_form
                    input(type="text")
                    input(type="submit",value="提交")