//
   Created by haner on 15/9/21.

.t_c
    .pager.clearfix
        a.page_pre(href="#")
        a.active 0
        - var n = 1
        while n < 5
            a(href="#")
                span=n++
        a ...
        a.page_next(href="#")